.dialog {
    position: absolute;
    z-index: 100;
    min-width: 100%;
    min-height: 100%;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity = 40);
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
}
.pop {
    position: fixed;
    left: 50%;
    top: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    z-index: 1100;
    background: #fff;
    min-width: 260px;
    min-height: 100px;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    margin-top: 60px;
}

.pop-title {
    background: #eee;
    padding: 8px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.pop-close {
    position: absolute;
    right: 6px;
    top: 6px;
    padding: 5px 8px;
    line-height: 12px;
    border-radius: 3px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.pop-close:hover {
    background: red;
    background: rgba(255, 0, 0, 0.8);
    color: #fff;
}

.pop-body {
    padding: 10px;
    line-height: 26px;
}

.pop-body>iframe {
    width: 800px;
    height: 450px;
    margin: -10px;
}

/*确认框*/
.confirm {
    text-align: center;
}

.confirm p {
    margin:10px 0 20px 0px
}
.confirm .btn{
    min-width:120px;
}
.confirm .btn+.btn {
    margin-left: 10px;
}